:root {
  --white-color: #fff;
  --primary-color: #2D314D;
  --text-color: rgba(149, 151, 165, 1);
  --body-color: #FAFAFA;
  --hover-color: #30C88F;
  ;
}

/* GLOBAL STYLE */
* {
  box-sizing: border-box;
}

*:focus {
  outline: 3px dashed var(--hover-color);
  outline-offset: 3px;
}

*::before,
 ::after {
   box-sizing: border-box;
 }

html {
  height: 100%;
  scroll-behavior: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', 'Arial', sans-serif;
  background-color: var(--white-color);
  color: var(--primary-color);
}

/* BUTTON */
.button {
  display: inline-block;
  white-space: nowrap;
  min-width: 163px;
  padding: 8px 36px 8px 33px;
  border-radius: 22px;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  color: var(--white-color);
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  padding-top: 14px;
  z-index: 50;
  background-color: var(--white-color);
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo-link {
  display: inline-block;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.site-header__logo-link:hover {
  opacity: 0.8;
}

.site-header__logo-link:active {
  opacity: 0.6;
}

.site-header__logo {
  width: 139px;
  height: 20px;
}

.sitenav {
  margin-left: 250px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 35px;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 33px;
  padding-bottom: 38px;
  cursor: pointer;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

/* AFTER */
.sitenav__item::after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

/* HOVER-AFTER */
.sitenav__item:hover::after{
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.10px;
  color: var(--text-color);
}

.sitenav__link:hover {
  color: var(--primary-color);
}

.site-header__btn {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HERO */
.site-hero {
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url("../img/hero-bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 502px) -259px;
  background-color: #FAFAFA;
}

.site-hero__container {
  position: relative;
  display: flex;
  align-items: center;
}

.site-hero__block {
  width: 450px;
}

.site-hero__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 27px;
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--primary-color);
}

.site-hero__text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28px;
  color: var(--text-color);
}

.site-hero__btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.site-hero__img {
  position: absolute;
  display: block;
  width: 802px;
  height: 956px;
  right: -290px;
  z-index: 30;
  top: -298px;
}


/* SECTION-FEATURE */
.section-feature {
  padding-top: 96px;
  padding-bottom: 90px;
  background-color: #F4F5F7;
}

.section-feature__text-block {
  width: 635px;
  margin-bottom: 72px;
}

.section-feature__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  color: var(--primary-color);
}

.section-feature__text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28px;
  color: var(--text-color);
}

.section-feature__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-feature__item {
  width: 255px;
}

.section-feature__item:not(:last-child) {
  margin-right: 30px;
}

.icon-block {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 50%;
}

.icon-block__icon {
  display: block;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.section-feature__item-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.42px;
  color: var(--primary-color);
}

.section-feature__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--text-color);
}


/* SECTION-ARTICLES */
.section-articles {
  padding-top: 84px;
  padding-bottom: 80px;
  background-color: #FAFAFA;
}

.section-articles__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.71px;
  color: var(--primary-color);
}

.section-articles__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-articles__item {
  width: 255px;
  background-color: var(--white-color);
  border-radius: 5px;
}

.section-articles__item:not(:last-child) {
  margin-right: 30px;
}

.section-articles__item-img {
  display: block;
  width: 255px;
  height: 200px;
}

.item-text-block {
  width: 207px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.item-text-block__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: var(--text-color);
}

.item-text-block__link {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: var(--primary-color);
}

.item-text-block__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.20px;
  color: var(--text-color);
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--primary-color);
}
.site-footer__container {
  display: flex;
  align-items: center;
}

.block-left {
  margin-right: 130px;
}

.site-footer__logo-link {
  display: inline-block;
  transition: opacity 0.3s ease;
  margin-bottom: 55px;
}

.site-footer__logo-link:hover {
  opacity: 0.8;
}

.site-footer__logo-link:active {
  opacity: 0.6;
}

.site-footer__logo {
  display: block;
  width: 139px;
  height: 20px;
}

.block-left__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.block-left__item:not(:last-child) {
  margin-right: 13px;
}

.site-footer__social-link {
  display: flex;
  color: var(--white-color);
}

.site-footer__social-link:hover {
  color: var(--hover-color);
}

.site-footer__social-link:active {
  opacity: 0.6;
}

.site-footer-social-img {
  display: block;
  width: 20px;
  height: 20px;
  display: block;

}


.site-footer__list-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.links-item {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.links-item:not(:last-child) {
  margin-right: 30px;
}

.site-footer__links {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.23px;
  text-decoration: none;
  color: var(--white-color);
  transition: color 0.3s ease;
}

.site-footer__links:hover {
  color: var(--hover-color);
}

.site-footer__links:active {
  opacity: 0.6;
}

.site-footer__links:not(:last-child) {
  margin-bottom: 8px;
}

.site-footer__btn-block {
text-align: right;
}

.site-footer__btn {
  margin-left: auto;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.site-footer__copy-text {
  margin: 0;
  color: rgba(255, 255, 255, .5);
}